.margin{
  margin-left: auto;
  margin-right: auto;
}
.book-thumbnail {
  max-width: 50px; /* Only display small images for thumbnails */
}
/* Added Reading List Grid for User ease. */ */
.reading-list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  flex-wrap: wrap;
  display: flex;
}


.panel {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  border: 3px solid grey;
  background-color: lightgrey;
  padding: 15px;
  width: 450px
  text-align: left;
}

.button  {
  font: 11px "Open Sans", Arial, sans-serif;
  padding: 5px 30px;

  border:solid limegreen;
  border-radius:  10px
}

#display{
  margin: 1%;
  margin-top: 4px;
  padding: 50px 0;
  text-align: center;
}
