*{
  margin-left: auto;
  margin-right: auto;
}
.book-thumbnail {
  max-width: 60px; /* Only display small images for thumbnails */
}
/* Added Reading List Grid for User ease. */
.reading-list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  flex-wrap: wrap;
  display: flex;
}

.panel {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  border: 3px solid grey;
  background-color: lightgrey;
  padding: 15px;
  width: 400px
  text-align: left;
}

#content {
  display: none;
}
input[type="text"]{
    color: limegreen;
    text-shadow: black;
    padding: 4px 12px;
    width: 150px;
    cursor: pointer;
}

input:focus + div#content {
  display: block;
}

#display{
  margin: 1%;
  width: 20%;
  margin-top: 4px;
  padding: 50px 0;
  text-align: center;
}
